@media screen and (max-width:700px){

  

    .Secformulario{
        display: block;
        width: 350px;
        height: 500px;
    }


    .imgBackground{
        height: 40%;
        width: 100%;
        border-radius: 15px 15px 0 0;

        background-image: url(../midia/pexels-shkrabaanthony-5244024.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }


  


    .icons{
       display: flex;
       justify-content: center;
       align-items: center;
       color: #444;
       
    }

    label{
        display: inline-block;
    }
    
    .formulario  input{
        width: 250px;
        height: 26px;
        border-radius: 5px;
        border: 1px ridge #4444447c;
        text-indent: 5px;
        
    }


    .btnSubmit{
        height: 25px;
        width: 120px;
    }


    .btnsSocial{
        align-self: center;
    }
    .btnsSocial > button{
        width: 100px;
        height: 25px;
    }
    .formLogin{
        display: none;
        display: .5s;
    }

    .btnLogin{
        height: 25px;
        width: 120px;
    }
    .server {
       display: none;
       font-size: .9em;
       animation: formLogin linear .5s forwards;
    }
    .server> div{
        display: flex;
        align-items: center;
    }

    .SecformularioOn{
        height: 580px;
    }
    /* .textWrongEmailOn{
        display: block;
    } */
    .formCreateOff{
        display: none;
    }
    .formLoginOn{
       display: flex;
       animation: formLogin linear .3s forwards;
   }
   .textWrondOn{
       display: block;
   }
   .imgBackgroundLogin{
       background-image: url(../midia/pexels-shvetsa-12662809.jpg);
       animation: imgLogin .3s linear forwards;
   }
   
    @keyframes formLogin{
        from{
            opacity: 0;
            transform: translate3d(0px, -18px, 0px);
        }
        to{
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
        }
    }
    @keyframes imgLogin{
        from{
            opacity: 0;
            transform: translate3d(0px, 20px, 0px);
        }
        to{
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
        }
    }
    p{
        font-family: var(--fontLogin);
        transition: .5s;
    }
}