@media screen and (max-width:700px){

  
    main{
        display: flex;
        align-items: center;
        justify-content: center;
     
     }
     

    .Secformulario{
        width: 350px;
        height: 500px;

        
        border-radius: 15px;

        box-shadow: 2px 2px 5px .5px #44444442;

    }


    .imgBackground{
        height: 40%;
        border-radius: 15px 15px 0 0;

        background-image: url(../midia/pexels-shkrabaanthony-5244024.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    h2{
        margin-top: 10px;
        text-align: center;
        font-size: 1.2em;
        color: #444;

    }

   
    .formulario{
        padding: 5px;
        display: flex;
        flex-direction: column;
       
    }

    .formulario > div{
        margin-top: 15px;
        margin-left: 15px;
        

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }


    .icons{
       display: flex;
       justify-content: center;
       align-items: center;
       
    }

    label{
        display: inline-block;
        
        
      
    }
    
    .formulario  input{
        width: 250px;
        height: 26px;
        border-radius: 5px;
        border: 1px solid #444;
        text-indent: 5px;
    }

    .btnSubmit{
        height: 25px;
        width: 120px;
        margin-top: 25px;
        align-self: center;

        background-color: #0260F5;
        color: #f8f8f8;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 3px .5px #3333335c;
        cursor: pointer;

        
    }

    .btnsSocial{
        align-self: center;
        
       
    }
    .btnsSocial > button{
        width: 100px;
        height: 25px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px .5px #3333335c;
        border: none;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }
   

   
}